.side-bar {
  background-color: rgb(137, 223, 187);

  width: 230px;
  min-height: 100vh;

  font-size: 1.2rem;
  display: flex;
}

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-left: 20px; */
  padding-right: 20px;
  text-align: center;
}

.username {
  position: absolute; /* 절대 위치 지정 */
  bottom: 80px; /* 사이드바 맨 아래에 고정 */
  left: 6%; /* 왼쪽 기준으로 가운데 정렬 */
  transform: translateX(-50%); /* 수평 가운데 정렬 */
  color: black;
  font-weight: bold;
}

.Logout {
  position: absolute; /* 절대 위치 지정 */
  bottom: 10px; /* 사이드바 맨 아래에 고정 */
  left: 6%; /* 왼쪽 기준으로 가운데 정렬 */
  transform: translateX(-50%); /* 수평 가운데 정렬 */
  color: white;
}

.centered-container {
  position: fixed; /* 고정 위치 */
  top: 50%; /* 화면 상단에서 50% 위치 */
  left: 50%; /* 화면 왼쪽에서 50% 위치 */
  transform: translate(-50%, -50%); /* 요소의 중앙을 화면의 중앙으로 이동 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}
